In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
from vincentvanbot.params import IMAGES_PATH
from vincentvanbot.data import get_data_locally, download_images_locally
from tensorflow.keras.preprocessing.image import load_img, img_to_array
import numpy as np
import pandas as pd

In [3]:
df = get_data_locally(nrows=100_000)
df.head(2)

,AUTHOR,BORN-DIED,TITLE,DATE,TECHNIQUE,LOCATION,URL,FORM,TYPE,SCHOOL,TIMEFRAME
0,"AACHEN, Hans von","(b. 1552, Köln, d. 1615, Praha)",Venus and Adonis,1574-88,"Oil on canvas, 68 x 95 cm","Fogg Art Museum, Harvard University, Cambridge",https://www.wga.hu/art/a/aachen/adonis.jpg,painting,mythological,German,1601-1650
1,"AACHEN, Hans von","(b. 1552, Köln, d. 1615, Praha)",Allegory,1598,"Oil on copper, 56 x 47 cm","Alte Pinakothek, Munich",https://www.wga.hu/art/a/aachen/allegory.jpg,painting,mythological,German,1601-1650

In [4]:
df_sample = df.head(10)
df_sample.shape

(10, 11)

In [17]:
download_images_locally(df_sample)

100%|██████████████████████████████| 10/10 [00:05<00:00,  1.73it/s]

In [6]:
from tqdm import tqdm
tqdm.pandas(bar_format='{l_bar}{bar:30}{r_bar}{bar:-10b}')

img_db = pd.DataFrame()

for filename in tqdm(os.listdir(IMAGES_PATH)):
    img = os.path.join(IMAGES_PATH, filename)
    img = load_img(img, target_size = (360, 420))
    img = img_to_array(img)
    img = img.flatten().reshape(1,-1)
    img_db =img_db.append(pd.DataFrame(img,index=[filename.strip('.jpg')]))

img_db.sort_index(inplace=True)

100%|██████████| 10/10 [00:00<00:00, 25.51it/s]

In [7]:
img_db = img_db / 255

In [8]:
img_db.head()

,0,1,2,3,4,5,6,7,8,9,...,453590,453591,453592,453593,453594,453595,453596,453597,453598,453599
0,0.403922,0.392157,0.317647,0.458824,0.447059,0.372549,0.521569,0.509804,0.435294,0.278431,...,0.058824,0.172549,0.105882,0.074510,0.192157,0.137255,0.101961,0.196078,0.098039,0.070588
1,0.384314,0.360784,0.313726,0.305882,0.290196,0.243137,0.247059,0.239216,0.192157,0.203922,...,0.294118,0.521569,0.427451,0.286275,0.509804,0.415686,0.274510,0.474510,0.380392,0.239216
2,0.498039,0.415686,0.239216,0.364706,0.274510,0.141176,0.231373,0.133333,0.054902,0.254902,...,0.298039,0.505882,0.403922,0.266667,0.596078,0.494118,0.349020,0.611765,0.513726,0.352941
3,0.082353,0.054902,0.031373,0.211765,0.184314,0.160784,0.172549,0.145098,0.121569,0.278431,...,0.168627,0.345098,0.254902,0.200000,0.329412,0.254902,0.196078,0.274510,0.203922,0.149020
4,0.400000,0.352941,0.266667,0.262745,0.223529,0.188235,0.254902,0.215686,0.219608,0.172549,...,0.250980,0.380392,0.305882,0.290196,0.345098,0.270588,0.247059,0.250980,0.176471,0.160784

In [14]:
img_db.to_pickle('flat_resized_images.pkl')

In [15]:
db = pd.read_pickle('flat_resized_images.pkl')
db.head()

,0,1,2,3,4,5,6,7,8,9,...,453590,453591,453592,453593,453594,453595,453596,453597,453598,453599
0,0.403922,0.392157,0.317647,0.458824,0.447059,0.372549,0.521569,0.509804,0.435294,0.278431,...,0.058824,0.172549,0.105882,0.074510,0.192157,0.137255,0.101961,0.196078,0.098039,0.070588
1,0.384314,0.360784,0.313726,0.305882,0.290196,0.243137,0.247059,0.239216,0.192157,0.203922,...,0.294118,0.521569,0.427451,0.286275,0.509804,0.415686,0.274510,0.474510,0.380392,0.239216
2,0.498039,0.415686,0.239216,0.364706,0.274510,0.141176,0.231373,0.133333,0.054902,0.254902,...,0.298039,0.505882,0.403922,0.266667,0.596078,0.494118,0.349020,0.611765,0.513726,0.352941
3,0.082353,0.054902,0.031373,0.211765,0.184314,0.160784,0.172549,0.145098,0.121569,0.278431,...,0.168627,0.345098,0.254902,0.200000,0.329412,0.254902,0.196078,0.274510,0.203922,0.149020
4,0.400000,0.352941,0.266667,0.262745,0.223529,0.188235,0.254902,0.215686,0.219608,0.172549,...,0.250980,0.380392,0.305882,0.290196,0.345098,0.270588,0.247059,0.250980,0.176471,0.160784

In [1]:
from vincentvanbot.data import get_pickle