In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
from vincentvanbot.visionlabels.apicall import get_labels_url
from vincentvanbot.data import get_data_locally

In [4]:
df = get_data_locally(10)

In [5]:
test_row = df.iloc[0]
test_row

AUTHOR                                     AACHEN, Hans von
BORN-DIED                   (b. 1552, KÃ¶ln, d. 1615, Praha)
TITLE                                      Venus and Adonis
DATE                                                1574-88
TECHNIQUE                         Oil on canvas, 68 x 95 cm
LOCATION     Fogg Art Museum, Harvard University, Cambridge
URL              https://www.wga.hu/art/a/aachen/adonis.jpg
FORM                                               painting
TYPE                                           mythological
SCHOOL                                               German
TIMEFRAME                                         1601-1650
Name: 0, dtype: object

In [7]:
test_labels = get_labels_url(test_row['URL'],25)
test_labels

{'Tree': 0.8162100911140442,
 'Illustration': 0.7098695635795593,
 'Drawing': 0.7023025155067444,
 'Landscape': 0.6723242998123169,
 'Mythology': 0.6706447005271912,
 'History': 0.6016780734062195}

In [8]:
labels_df = pd.DataFrame()

In [9]:
for label, proba in test_labels.items():
    labels_df[label] = proba

In [10]:
labels_df

Empty DataFrame
Columns: [Tree, Illustration, Drawing, Landscape, Mythology, History]
Index: []

In [18]:
def get_labels_row(row):
    labels_dict = get_labels_url(row['URL'],25)
    row.drop(row.index,inplace=True)
    for label, proba in labels_dict.items():
        row[label] = proba
    return row

In [17]:
test_row.drop(test_row.index)

Series([], Name: 0, dtype: object)

In [19]:
df.apply(get_labels_row,axis=1)

,Ancient history,Drawing,Event,History,Holy places,Illustration,Landscape,Mythology,Stock photography,Tree,Vintage clothing
0,NaN,0.702303,NaN,0.601678,NaN,0.709870,0.672324,0.670645,NaN,0.81621,NaN
1,NaN,0.680177,NaN,NaN,NaN,0.695579,NaN,0.687935,0.620559,NaN,NaN
2,NaN,0.658634,NaN,0.639749,NaN,0.684888,NaN,0.691546,0.632767,NaN,NaN
3,NaN,0.696659,NaN,NaN,NaN,0.752009,NaN,0.670392,0.637397,NaN,NaN
4,NaN,0.676851,NaN,NaN,NaN,0.687830,NaN,0.675071,NaN,NaN,0.690338
5,NaN,0.703628,0.644181,NaN,NaN,0.726635,NaN,0.697044,0.620030,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,0.734482,NaN,NaN,NaN,NaN,0.708335
7,NaN,0.721867,NaN,NaN,NaN,0.745854,NaN,0.710266,0.645187,NaN,NaN
8,0.601057,0.709728,0.691097,0.674888,0.633039,0.714652,NaN,0.695881,0.621295,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,0.702257,NaN,0.682173,0.620870,NaN,NaN