In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import pandas as pd

In [3]:
path = os.path.abspath(os.path.join('..','raw_data','labels'))
filelist = os.listdir(path)

In [4]:
df = pd.DataFrame()

In [9]:
for file in filelist:
    df = df.append(pd.read_pickle(os.path.join(path,file)))

In [10]:
df.head()

,Abaya,Abdomen,Accessory fruit,Acoustic guitar,Acrylic paint,Acting,Adaptation,Afterglow,Agriculture,Aisle,...,Downhill mountain biking,Mountain bike,Mountain biking,Animal feed,Cigarette,Mason jar,Pet food,Planet,Small animal food,Velociraptor
39497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39501,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.fillna(0,inplace=True)

In [13]:
df.to_pickle('../raw_data/labels/labels.pkl')